version: '3.8'


services:
 backend:
   build:
     context: ./backend
     dockerfile: Dockerfile
   container_name: express-api
   ports:
     - "3111:3111"
   environment:
     - NODE_ENV=development
     - PORT=3111
   volumes:
     - ./backend:/app
     - /app/node_modules
   restart: unless-stopped
   networks:
     - app-network


networks:
 app-network:
   driver: bridge
